

header{
    background-color: red;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

navbar{
    background-color: rgb(231, 74, 2);
    height: 50px;
    width:350px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}


