

header{
    background-color: red;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

navbar{
    background-color: rgb(231, 74, 2);
    height: 50px;
    width:350px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}


.profile-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}

.captions {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}